<!-- <div>
  <div id="logo"></div>
  <div id="shop_name">Gift shopping</div>
  <div id="user">
    user stuffs
    <%# link_to "Log out", logout_path, method: "delete" %>
    <%# link_to "Log in", login_path%>
    <%# link_to "Sign up", signup_path%>
  </div>
</div> -->

<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item">
      Home
    </a>
    <div class="right menu">
      <div class="item">
        User Name
      </div>
      <div class="item">
        <a class="ui inverted button">Log out</a>
      </div>
      <div class="item">
        <a class="ui inverted button">Log in</a>
      </div>
      <div class="item">
        <a class="ui inverted button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
