<% user = User.find_by_id(session[:user_id]) %>

<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item" id="title" href="/">
      Peachiego's Shop
    </a>
    <div class="right menu">

      <% if user.present? %>
        <div id="username_display" class="item">Welcome! <%= user.name %></div>
        <div class="item">
          <%= link_to "Log out", logout_path, class: "ui inverted button", method: "delete" %>
        </div>
      <% else %>
        <div class="item">
          <%= link_to "Signup", signup_path, class: "ui inverted button" %>
        </div>
        <div class="item">
          <%= link_to "Log in", login_path, class: "ui inverted button" %>
        </div>
      <% end %>


      <!-- <div class="item">
        User Name
      </div>
      <div class="item">
        <a class="ui inverted button">Log out</a>
      </div>
      <div class="item">
        <a class="ui inverted button">Log in</a>
      </div>
      <div class="item">
        <a class="ui inverted button">Sign Up</a>
      </div> -->
    </div>
  </div>
</div>
