/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require icon.min
 *= require semantic.min
 *= require jquery-ui.min
 *= require jquery-ui.structure.min.css
 *= require jquery-ui.theme.min
 *= require_tree .
 *= require_self
 */


.test {
  /*border: 1px solid red;*/
}

#shopping_lists, #shop {
  overflow-y: scroll;
}

.empty {
  background-color: rgba(255, 193, 7, 0.34);
  width: 98%;
  height: 70px;
  text-align: center;
  padding: 26px;
  vertical-align: middle;
  border-radius: 15px;
  margin-right: 30px;

}

#title{
  font-size: 1.5em;
}
.product_wrap, .product_price, .product_name {
  display: inline-block;
  margin: 5px;
  z-index: 100000;
}

.product_min_info{
  height: 50px;
  background-color: rgba(228, 168, 168, 0.98);
  overflow: hidden;
}

.product_name, .product_price {
}

.product_price {
  float: right;

}

.product_wrap {
  width: 23%;
  max-height: 300px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #888888;
}

div.ui.inverted.segment{
  background: #851b13;
}

.prod_img_div{
  height: 200px;
  align-items: center;
  background-color: white
}


.product_img {
  max-width: 75%;
  height: 97%;
  margin: auto;
    display: block;
}

.cart_product_img {
  min-width:  58.75px;
  height: 58.75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.cart_product_info, .cart_product_img, .checkout_product_img, .checkout_inner_wrap {
  display: inline-block;
}

.checkout_product_img {
  width:  58.75px;
  height: 58.75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.hovered{
  border: 2px solid green;
  background-color: rgba(139, 195, 74, 0.52);
}

.list_item {
  margin: 5px 0;
}

/*shopping cart save button*/
#updateShoppingCart {
  margin: 5px;
}

.checkout_inner_wrap {
  display: inline-block;
}

#checkout_wrap {
  margin-left: 30px;
}
