<div id="wrapper" class="row">

  <div id="shopping" class="test col-md-8">
    <div class="ui tabular menu">
      <div class="item" data-tab="tab-category1">Perfumes</div>
      <div class="item" data-tab="tab-category2">Books</div>
      <div class="item" data-tab="tab-category3">Toys</div>
      <div class="item" data-tab="tab-category4">Technology</div>
    </div>
    <div class="ui tab" data-tab="tab-category1">
      <!-- Tab Content !-->content perfumes
    </div>
    <div class="ui tab" data-tab="tab-category2">
      <!-- Tab Content !-->content books
    </div>
    <div class="ui tab" data-tab="tab-category3">
      <!-- Tab Content !-->content toys
    </div>
    <div class="ui tab" data-tab="tab-category4">
      <!-- Tab Content !-->content technology
    </div>

  </div>   <!-- //shopping column -->


  <div id="shopping_cart" class="test col-md-4">
    <h2>Your Cart</h2>
  </div>  <!-- Cart Column -->

</div>
