<div id="wrapper" class="row">

  <div id="shopping" class="test col-md-8">

    <div class="ui top attached tabular menu" id="category_menu">
     <a class="active item category">
       Perfumes
     </a>
     <a class="item category">
       Books
     </a>
     <a class="item category">
       Toys
     </a>
     <a class="item category">
       Technology
     </a>
    </div>

    <div id="products_display"></div>

  </div>

  <div id="shopping_cart" class="test col-md-4">
    <h2>Your Cart</h2>
  </div>
  
</div>

<!-- <div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div> -->
